@import "./modules/wrapper";
@import "./modules/content";
@import "./modules/launch";
@import "./modules/countdown";


/* Mobile view */

/* If the width of the screen is 840px or less, switch to mobile view */
@media screen and (max-width: 840px) {

    .wrapper {
        background-size: 0px;
    }

    .launch {
        min-width: 270px;
    }

    img {
        width: 270px;
        // height: 150px;
    }

    /* Setting the flex direction of header as column without wrapping */
    header {
        flex-flow: column nowrap;
        padding-bottom: 20px;
    }

    /* Setting the flex direction of flex-container as column without any wrap */
    #flex-container {
        flex-flow: column nowrap;
    }

    /* Setting the width and background color of the button */
    #check-current-temp {
        width: 100%;
        background-color: maroon;
    }    
}
